extends ./layout

block content
    h1 Books
    form(action='/books' method='post')
        input(name='search' type="text")
        input(id='search' type="submit" value="Search")
    p: a.button(href='books/new') Create New Book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
            tbody
                - for (var i = 0; i < length; i++)
                    tr
                        td: a(href=`books/${data[0] ? data[i].id : data.id}/${data[0] ? data[i].title.replace(/ /g, "-") : data.title.replace(/ /g, "-")}`)= data[0] ? data[i].title : data.title
                        td= data[0] ? data[i].author : data.author
                        td= data[0] ? data[i].genre : data.genre
                        td= data[0] ? data[i].year : data.year
    p(id="pagination")
        - for (var i = 0; i < Math.ceil(total/10); i++)
            a.button(class='pages' href=`/books?page=${i+1}`)= i + 1
        